{% extends 'base.html' %}
{% block content %}
{% load static %}

   <!-- About Start -->
    <div class="container py-5">
        <div class="row py-5">
            <div class="col-lg-7 pb-5 pb-lg-0 px-3 px-lg-5">
                <h4 class="text-secondary mb-3">About Us</h4>
                <h1 class="display-4 mb-4"><span class="text-primary">{{ about.title }}</span></h1>
                <h5 class="text-muted mb-3">{{ about.addition }}</h5>
                <p class="mb-4">{{ about.description }}</p>
                {% for i in advantages %}
                <ul class="list-inline">
                    <li><h5><i class="fa fa-check-double text-secondary mr-3"></i>{{ i.title }}</h5></li>
                </ul>
                {% endfor %}
                <a href="" class="btn btn-lg btn-primary mt-3 px-4">Learn More</a>
            </div>
            <div class="col-lg-5">
                <div class="row px-3">
                    <div class="col-12 p-0">
                        <img class="img-fluid w-100" src="{{ about.image.url }}" alt="">
                    </div>
                    <div class="col-6 p-0">
                        <img class="img-fluid w-100" src="{{ about.image2.url }}" alt="">
                    </div>
                    <div class="col-6 p-0">
                        <img class="img-fluid w-100" src="{{ about.image3.url }}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Team Start -->
    <div class="container mt-5 pt-5 pb-3">
        <div class="d-flex flex-column text-center mb-5">
            <h4 class="text-secondary mb-3">Team Member</h4>
            <h1 class="display-4 m-0">Meet Our <span class="text-primary">Team Member</span></h1>
        </div>
        <div class="row">
            {% for i in team %}
            <div class="col-lg-3 col-md-6">
                <div class="team card position-relative overflow-hidden border-0 mb-4">
                    <img class="card-img-top" src="{{ i.image.url }}" alt="">
                    <div class="card-body text-center p-0">
                        <div class="team-text d-flex flex-column justify-content-center bg-light">
                            <h5>{{ i.name }}</h5>
                            <i>{{ i.job }}</i>
                        </div>
                        <div class="team-social d-flex align-items-center justify-content-center bg-dark">
                        {% if i.social.twitter %}
                        <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0" style="width: 36px; height: 36px;" href="{{ i.social.twitter }}">
                            <i class="fab fa-twitter"></i>
                        </a>
                        {% endif %}
                        {% if i.social.facebook %}
                        <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0" style="width: 36px; height: 36px;" href="{{ i.social.facebook }}">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        {% endif %}
                        {% if i.social.inlink %}
                        <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0" style="width: 36px; height: 36px;" href="{{ i.social.inling }}">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                        {% endif %}
                        {% if i.social.instagramm %}
                        <a class="btn btn-outline-primary rounded-circle text-center px-0" style="width: 36px; height: 36px;" href="{{ i.social.instagramm }}">
                            <i class="fab fa-instagram"></i>
                        </a>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- Team End -->


{% endblock %}